
h1 div {
    border: 2px solid red;
}

img {
    height: 90px;
    width: 80px;
/*     border: 7px ridge blue; */
}
ul {
  display: inline;
}

/*****************
Attaching the Header and Footer
*****************/


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: 0.3%;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
}


.container {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
/*     background-color: blueviolet; */
/*   background-color: #f77a2d; */
  background-color: rgb(234, 234, 52);
}

#logo {
    margin: 5px 0;
    text-align: left;
    color: black;
    font-size: 15px;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul li a:hover {
    color: chocolate;
}

div a {
    text-decoration: none;
}

.social-links img {
    height: 15px;
  width: 20px;
    margin: 10px;
    cursor: pointer;
}

.social-links {
    text-align: center;
/*     background-color: blueviolet; */
/*   background-color: #f77a2d; */
  background-color: rgb(234, 234, 52);
}

@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
/*         background: linear-gradient( #f77a2d, #f15f04); */
/*       background-color: #f77a2d; */
      background-color: rgb(234, 234, 52);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
/*         color: #fff; */
        color: #000000;
      }
    .menu-icon {
        display: block;
      height: 15px;
      width: 25px;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
}